.nidhi{

    font-size:34px;
    font-weight: 400;
    color: #1A5319;
    text-align: left;
    font-family:"katerlin" ;
    text-transform: uppercase;
    background-color: #BC9F8B;
}
.am{
    font-size:40px;
    font-weight: 400;
    color:  #1A5319;
    text-align: left;  
   
}
.n{
    font-size: 24px;
    text-decoration:underline;
    font-weight: 300;
    color: #914F1E;
    text-align: center;

}
.i{
font-family: 'Times New Roman', Times, serif;
text-decoration:underline;
}
.d{
font-family: 'Times New Roman', Times, serif;

}

.je{
    font-family: 'Times New Roman', Times, serif;
   
    text-align:right;

}
.am{
    font-family: 'Times New Roman', Times, serif;
}

